.addTaskContainer {
    display: flex;
    align-items: center;
}
.addTaskItem {
    padding: 4px;
}
.input {
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #ccc
}
.button {
    font-family: 'Comfortaa', cursive;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}
.error {
    font-family: 'Comfortaa', cursive;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid red;
}
.errorMessage {
    color: red;
    padding: 4px;
}